@font-face {
    font-family: 'Corporate A BQ';
    src: url('CorporateABQ-Regular.woff2') format('woff2'),
        url('CorporateABQ-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corporate A BQ';
    src: url('CorporateABQ-Bold.woff2') format('woff2'),
        url('CorporateABQ-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

